<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/style.css">
    <title>GUTEN STREETWEAR</title>
</head>
<body>
    <header><h1>GUTEN STREETWEAR</h1></header>
    <div class="container">
        <div class="grid">
            <% produtos.forEach(p => { %>
                <div class="card">
                    <img src="<%= p.img %>">
                    <h2><%= p.titulo %></h2>
                    <p>R$ <%= p.preco.toFixed(2) %></p>
                    <button class="btn" onclick="comprar('<%= p.titulo %>', '<%= p.preco %>')">COMPRAR AGORA</button>
                </div>
            <% }) %>
        </div>
    </div>
    <script src="/js/checkout.js"></script>
</body>
</html>